<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/head.ejs') %>
        <link rel='stylesheet' href='css/default.css' type='text/css'>
    </head>
    <body class="d-flex flex-column align-items-center justify-content-center">
        <div class="homepage d-flex flex-column align-items-center">
            <h1>Monolith Dashboard</h1>
            <p>Selamat datang di tampilan depan Dashboard</p>
            <p>Silahkan tekan tombol di bawah untuk masuk ke dalam Dashboard</p>
            <a class="btn btn-sm btn-dark" href="/dashboard">Go to Dashboard</a>
            <a class="btn btn-sm btn-dark" href="/dashboard/register">Register User Baru</a>
        </div>
    </body>
</html>