<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head.ejs') %>
    <link rel='stylesheet' href='css/default.css' type='text/css'>
  </head>
  <body>
    <%- include('../../partials/navbar.ejs') %>
    <p style="text-align:justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis interdum risus, accumsan vestibulum purus. Suspendisse venenatis condimentum sem quis dignissim. In quis massa volutpat turpis volutpat efficitur. Curabitur semper ante quis neque placerat interdum. Vivamus blandit facilisis imperdiet. Suspendisse euismod nunc vitae suscipit ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed euismod vehicula augue aliquam lacinia. Sed posuere a lorem vel auctor. Sed neque neque, dignissim nec dui sit amet, volutpat rutrum magna. Aenean consectetur enim vitae ipsum mattis fermentum. Quisque nibh dui, condimentum laoreet scelerisque vitae, congue eu sem. Nulla ultrices elementum sodales.

    Sed tincidunt nibh ante, sit amet accumsan ante semper sed. Donec eleifend orci velit, et viverra tellus pellentesque ut. Duis volutpat suscipit dignissim. Nulla vitae libero ut purus maximus iaculis. Maecenas facilisis elementum erat, interdum imperdiet metus commodo at. Duis vel efficitur arcu, vitae commodo erat. Sed pulvinar purus at quam accumsan suscipit sit amet sed mauris. Curabitur molestie velit dui, vitae egestas lacus pulvinar nec. Sed quam libero, feugiat a metus quis, congue lobortis ligula. Vestibulum bibendum dui ut nisl rutrum dapibus.
        
    Praesent at orci lacus.</p>
    <br>
    <p>Dashboard ini diciptakan sebagai kerangka untuk membuat dashboard-dashboard lainnya</p>
    <p>Anggapannya adalah ini merupakan sebuah prototype paling sederhana</p>
    <p>Tidak banyak yang bisa dikatakan selain bisa menjalankan CRUD dengan lancar dan berada dalam satu server</p>
    <p>Mungkin penerus-penerus selanjutnya akan memiliki fitur yang lebih lengkap seperti sistem login atau lebih banyak jenis data</p>
    <p>Mungkin juga akan menggunakan front-end, melepaskan diri dari cangkang monolit</p>
    <p>Atau mungkin akan dituliskan dengan bahasa yang lain</p>

    <p>Dengan kata lain, selamat telah menemukan catatan kecil yang sebenarnya tidak tersembunyi ini</p>
    <p>Oh dan paragraf lorem ipsum di atas? Mereka ada agar tempat ini tidak terlihat begitu sepi</p>
    <p>Hihihihihi</p>
  </body>
</html>