<!DOCTYPE html>
<head>
    <%- include('../../partials/head.ejs') %>
    <link rel='stylesheet' href='/css/default.css' type='text/css'>
</head>
<body>
    <div class="delete_page">
        <h1>Data user berhasil dihapus dari database!</h1>
        <h3>Silahkan tekan tombol di bawah untuk kembali ke dashboard</h3>
        <button onclick=" window.location.href = `/dashboard`">Kembali</button>
    </div>
</body>